
.container {
    display: flex;
    background-color: black;
    margin: auto;
    border: 0.1vw solid #b0b0b0;
    width: 80vw;
    max-width: 80vw;
    min-width: 30vw;
    max-height: 4vh;
    min-height: 2vh;
    aspect-ratio: 6;
}

#flexbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#waveform {
    display: block;
    position: relative;
    width: 90%;
    height: 90%;
    margin: auto;
    background-color: black;
    border-radius: inherit;
}

#button_container {
    display: inline-block;
    position: relative;
    width: 80%;
    margin: auto;
    border-radius: inherit;
    text-align: center;
}


#ui {
    display: inline-flex;
    aspect-ratio: 16 / 9;
    width: 700px;
    background: rgb(137 223 201 / 75%);
    border-radius: 10px;
    margin: auto;
    flex-direction: column;
}

#rangecont {
    display: block;
    width: 1000px;
    background: rgb(96 156 255 / 55%);
    border-radius: 10px;
    margin: auto;
    box-sizing: content-box;
}

#range {
    position: relative;
    display: block;
    height: 100px;
    width: 800px;
    background: rgba(165, 168, 250, 0.92);
    border-radius: 10px;
    margin: auto;
}

#input_formula {
    display: block;
    outline: none;
    position: relative;
    border-radius: inherit;
    border-width: 0px;
    width: 70%;
    height: 30%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 21px;
    line-height: 20px;
    white-space: pre-wrap;
    resize: none;

}

#input_num {
    display: inline;
    outline: none;
    position: relative;
    border-radius: inherit;
    border-width: 0;
    width: 70%;
    height: 10%;
    margin: 0% auto 0%;
    font-size: 20px;
}

#transpose_value {
    position: absolute;
    border-radius: inherit;
    border-width: 0;
    height: 100%;
    width: 10%;
    font-size: 20px;
    background-color: white;

}

#transpose_button {
    border-radius: inherit;
    border-width: 0;
    height: 100%;
    width: 20%;
    font-size: 20px;
    background-color: #ff946dc4;

}
#transpose_button:hover {
    background-color: #e7602fc4;
    cursor: pointer;
}


#canvas_container {
    display: inline-flex;
    aspect-ratio: 16/9;
    width: 700px;
    background: rgba(179,181,238,0.92);
    border-radius: 10px;
    margin: auto;
}



#send {
    position: absolute;
    left: 70%;
    top: 0;
    border-radius: inherit;
    border-width: 0;
    height: 100%;
    font-size: 20px;
    margin: auto;
}

#download {
    position: absolute;
    left: 90%;
    top: 0;
    border-radius: inherit;
    border-width: 0;
    height: fit-content;
    font-size: 20px;
    margin: auto;
}

button:hover {
    cursor: pointer;
}

#piano {
    touch-action: manipulation;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    position: relative;top: 10%;
    margin: auto;
    border: 5px solid rgb(255 255 255 / 34%);
    border-radius: 30px;
    width: 1000px;
    height: 400px;
    background: rgb(92 153 227 / 26%);
}


#whiteKey {
    position: absolute;
    background: white;
    height: 90%;
    width: 10.0%;
    border-radius: 0px 0px 10px 10px;
    border-right: 3px solid rgb(143 169 181 / 16%); 
    border-bottom: 10px solid rgb(134 154 160 / 46%);
    border-left: 3px solid rgb(143 169 181 / 16%); 

    z-index: 10;
}

#blackKey {
    position: absolute;
    background: #313131;
    width: 3.4%;
    height: 45%;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0 0 10px 0 rgb(135 135 135.100);
    filter: brightness(100%) contrast(200%) saturate(83%);
    backdrop-filter: blur(10px);
    border-width: 8px;
    border-right: 10px solid rgb(97 97 97 / 62%);
    border-bottom: 10px solid rgb(181 181 181 / 46%);
    border-left: 10px solid rgb(156 156 156 / 71%);

    z-index: 100;
}

#whiteKey.hov {
    background-color: rgb(255, 198, 113);
    z-index: 50;
}

#whiteKey.press {
    background-color: rgb(255, 198, 113);
    border-bottom-width: 2px;
    height: 93%;
}


#blackKey.hov {
    background-color: rgb(238, 155, 31);
}

#blackKey.press {
    background-color: rgb(238, 155, 31);
    border-bottom-width: 3px;
    height: 49%;
}


.inconsolata {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: 20px;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }